[submodule ".dotfiles/zsh/zshkit"]
	path = .dotfiles/zsh/zshkit
	url = http://github.com/mattfoster/zshkit.git
[submodule ".dotfiles/zsh/oh-my-zsh"]
	path = .dotfiles/zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".dotfiles/vim/vim-indexed-search"]
	path = .dotfiles/vim/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule ".dotfiles/vim/bundle/vim-preview"]
	path = .dotfiles/vim/bundle/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule ".dotfiles/vim/bundle/VimBookmarking"]
	path = .dotfiles/vim/bundle/VimBookmarking
	url = git://github.com/dterei/VimBookmarking.git
[submodule ".dotfiles/vim/bundle/csv.vim"]
	path = .dotfiles/vim/bundle/csv.vim
	url = git://github.com/vim-scripts/csv.vim.git
[submodule ".dotfiles/vim/bundle/vimroom.vim"]
	path = .dotfiles/vim/bundle/vimroom.vim
	url = git://github.com/vim-scripts/vimroom.vim.git
[submodule ".dotfiles/vim/bundle/vim-abolish"]
	path = .dotfiles/vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".dotfiles/vim/bundle/code_complete"]
	path = .dotfiles/vim/bundle/code_complete
	url = git://github.com/vim-scripts/code_complete.git
[submodule ".dotfiles/vim/bundle/cocoa.vim"]
	path = .dotfiles/vim/bundle/cocoa.vim
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule ".dotfiles/vim/bundle/a.vim"]
	path = .dotfiles/vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".dotfiles/vim/bundle/c.vim"]
	path = .dotfiles/vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".dotfiles/vim/bundle/vim-bad-whitespace"]
	path = .dotfiles/vim/bundle/vim-bad-whitespace
	url = git://github.com/bitc/vim-bad-whitespace.git
[submodule ".dotfiles/vim/bundle/clang_complete"]
	path = .dotfiles/vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule ".dotfiles/vim/bundle/YankRing.vim"]
	path = .dotfiles/vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".dotfiles/vim/bundle/vim-peepopen"]
	path = .dotfiles/vim/bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule ".dotfiles/vim/bundle/vim-orgmode"]
	path = .dotfiles/vim/bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule ".dotfiles/vim/bundle/vim-pad"]
	path = .dotfiles/vim/bundle/vim-pad
	url = git://github.com/fmoralesc/vim-pad.git
[submodule ".dotfiles/vim/bundle/vim-autoclose"]
	path = .dotfiles/vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule ".dotfiles/vim/bundle/vim-pasta"]
	path = .dotfiles/vim/bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
