[submodule ".dotfiles/vim/bundle/fugitive"]
	path = .dotfiles/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".dotfiles/vim/bundle/nerdcommenter"]
	path = .dotfiles/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".dotfiles/vim/bundle/nerdtree"]
	path = .dotfiles/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".dotfiles/vim/bundle/git-vim"]
	path = .dotfiles/vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule ".dotfiles/vim/bundle/gundo"]
	path = .dotfiles/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule ".dotfiles/vim/bundle/vim-surround"]
	path = .dotfiles/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".dotfiles/vim/bundle/gist-vim"]
	path = .dotfiles/vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".dotfiles/vim/bundle/ack.vim"]
	path = .dotfiles/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
