[submodule ".dotfiles/vim/bundle/nerdcommenter"]
	path = .dotfiles/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".dotfiles/vim/bundle/nerdtree"]
	path = .dotfiles/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".dotfiles/vim/bundle/git-vim"]
	path = .dotfiles/vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule ".dotfiles/vim/bundle/gundo"]
	path = .dotfiles/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule ".dotfiles/vim/bundle/vim-surround"]
	path = .dotfiles/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".dotfiles/vim/bundle/gist-vim"]
	path = .dotfiles/vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".dotfiles/vim/bundle/ack.vim"]
	path = .dotfiles/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".dotfiles/vim/bundle/snipmate"]
	path = .dotfiles/vim/bundle/snipmate
	url = git://github.com/Phrodo00/snipmate.vim.git
[submodule ".dotfiles/vim/bundle/Rainbow-Parenthsis-Bundle"]
	path = .dotfiles/vim/bundle/Rainbow-Parenthsis-Bundle
	url = git://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule ".dotfiles/vim/bundle/Command-T"]
	path = .dotfiles/vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule ".dotfiles/vim/bundle/snipmate-snippets"]
	path = .dotfiles/vim/bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule ".dotfiles/zsh/zshkit"]
	path = .dotfiles/zsh/zshkit
	url = http://github.com/mattfoster/zshkit.git
[submodule ".dotfiles/zsh/oh-my-zsh"]
	path = .dotfiles/zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".dotfiles/vim/delimitMate"]
	path = .dotfiles/vim/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".dotfiles/vim/vim-indexed-search"]
	path = .dotfiles/vim/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule ".dotfiles/vim/bundle/javacomplete"]
	path = .dotfiles/vim/bundle/javacomplete
	url = git://github.com/adragomir/javacomplete.git
[submodule ".dotfiles/vim/bundle/puppet-vim"]
	path = .dotfiles/vim/bundle/puppet-vim
	url = git://github.com/ghoneycutt/puppet-vim.git
[submodule ".dotfiles/vim/bundle/vim-preview"]
	path = .dotfiles/vim/bundle/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule ".dotfiles/vim/bundle/vim-taglist-plus"]
	path = .dotfiles/vim/bundle/vim-taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule ".dotfiles/vim/bundle/vim-extradite"]
	path = .dotfiles/vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule ".dotfiles/vim/bundle/screen"]
	path = .dotfiles/vim/bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule ".dotfiles/vim/bundle/vim-easymotion"]
	path = .dotfiles/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".dotfiles/vim/bundle/vim-virtualenv"]
	path = .dotfiles/vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".dotfiles/vim/bundle/taskpaper.vim"]
	path = .dotfiles/vim/bundle/taskpaper.vim
	url = git://github.com/davidoc/taskpaper.vim.git
[submodule ".dotfiles/vim/bundle/vim-github"]
	path = .dotfiles/vim/bundle/vim-github
	url = git://github.com/thinca/vim-github.git
[submodule ".dotfiles/vim/bundle/vim-fugitive"]
	path = .dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".dotfiles/vim/bundle/VimBookmarking"]
	path = .dotfiles/vim/bundle/VimBookmarking
	url = git://github.com/dterei/VimBookmarking.git
[submodule ".dotfiles/vim/bundle/csv.vim"]
	path = .dotfiles/vim/bundle/csv.vim
	url = git://github.com/vim-scripts/csv.vim.git
[submodule ".dotfiles/vim/bundle/vim_django"]
	path = .dotfiles/vim/bundle/vim_django
	url = git://github.com/vim-scripts/vim_django.git
[submodule ".dotfiles/vim/bundle/Cabal.vim"]
	path = .dotfiles/vim/bundle/Cabal.vim
	url = git://github.com/vim-scripts/Cabal.vim.git
[submodule ".dotfiles/vim/bundle/Python-Syntax"]
	path = .dotfiles/vim/bundle/Python-Syntax
	url = git://github.com/vim-scripts/Python-Syntax.git
[submodule ".dotfiles/vim/bundle/EasyGrep"]
	path = .dotfiles/vim/bundle/EasyGrep
	url = git://github.com/vim-scripts/EasyGrep.git
[submodule ".dotfiles/vim/bundle/vimshell-ssh"]
	path = .dotfiles/vim/bundle/vimshell-ssh
	url = git://github.com/vim-scripts/vimshell-ssh.git
[submodule ".dotfiles/vim/bundle/vimroom.vim"]
	path = .dotfiles/vim/bundle/vimroom.vim
	url = git://github.com/vim-scripts/vimroom.vim.git
[submodule ".dotfiles/vim/bundle/vim-pep8"]
	path = .dotfiles/vim/bundle/vim-pep8
	url = git://github.com/jbking/vim-pep8.git
[submodule ".dotfiles/vim/bundle/vim-pyref"]
	path = .dotfiles/vim/bundle/vim-pyref
	url = git://github.com/xolox/vim-pyref.git
[submodule ".dotfiles/vim/bundle/vimpy"]
	path = .dotfiles/vim/bundle/vimpy
	url = git://github.com/amitdev/vimpy.git
[submodule ".dotfiles/vim/bundle/pyflakes-vim"]
	path = .dotfiles/vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".dotfiles/vim/bundle/toolkit.vim"]
	path = .dotfiles/vim/bundle/toolkit.vim
	url = git://github.com/gmarik/toolkit.vim.git
[submodule ".dotfiles/vim/bundle/github-search.vim"]
	path = .dotfiles/vim/bundle/github-search.vim
	url = git://github.com/gmarik/github-search.vim.git
[submodule ".dotfiles/vim/bundle/vundle"]
	path = .dotfiles/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".dotfiles/vim/bundle/tcomment_vim"]
	path = .dotfiles/vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".dotfiles/vim/bundle/vim-abolish"]
	path = .dotfiles/vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".dotfiles/vim/bundle/vim-GitHubDashBoard"]
	path = .dotfiles/vim/bundle/vim-GitHubDashBoard
	url = git://github.com/lukaszkorecki/vim-GitHubDashBoard.git
[submodule ".dotfiles/vim/bundle/code_complete"]
	path = .dotfiles/vim/bundle/code_complete
	url = git://github.com/vim-scripts/code_complete.git
[submodule ".dotfiles/vim/bundle/cocoa.vim"]
	path = .dotfiles/vim/bundle/cocoa.vim
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule ".dotfiles/vim/bundle/a.vim"]
	path = .dotfiles/vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".dotfiles/vim/bundle/c.vim"]
	path = .dotfiles/vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".dotfiles/vim/bundle/vim-bad-whitespace"]
	path = .dotfiles/vim/bundle/vim-bad-whitespace
	url = git://github.com/bitc/vim-bad-whitespace.git
[submodule ".dotfiles/vim/bundle/taglist.vim"]
	path = .dotfiles/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".dotfiles/vim/bundle/tagbar"]
	path = .dotfiles/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".dotfiles/vim/bundle/clang_complete"]
	path = .dotfiles/vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule ".dotfiles/vim/bundle/YankRing.vim"]
	path = .dotfiles/vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".dotfiles/vim/bundle/syntastic"]
	path = .dotfiles/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".dotfiles/vim/bundle/minibufexpl.vim"]
	path = .dotfiles/vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".dotfiles/vim/bundle/vim-peepopen"]
	path = .dotfiles/vim/bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule ".dotfiles/vim/bundle/vim-orgmode"]
	path = .dotfiles/vim/bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule ".dotfiles/vim/bundle/vim-pathogen"]
	path = .dotfiles/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".dotfiles/vim/bundle/vim-slime"]
	path = .dotfiles/vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule ".dotfiles/vim/bundle/simplenote.vim"]
	path = .dotfiles/vim/bundle/simplenote.vim
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule ".dotfiles/vim/bundle/vim-pad"]
	path = .dotfiles/vim/bundle/vim-pad
	url = git://github.com/fmoralesc/vim-pad.git
